body {
	background-color: #C8F9F9; 
	margin: 30px 15%;
	font-family: Libre Baskerville
	}
a.strong {
	background-color: DarkSlateGray;
	color: DarkOrange;
	box-shadow:
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
h1 {
	text-align: center;
	font-family: Baloo Chettan;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #57b1dc;
}
h2 {
	color: #d1633c;
	font-size: 1em;
}
h3{ 
	text-align: center;
}
p.strong{
	text-indent: 50px;
}
p.large {
	font-size: 150%;
}
.boxed {
 	border: 1px solid red;
	word-wrap: break-word;
}

.box{border: 1px solid red;
}
img {
	border: 10px solid #B9ECFB;
	border-radius: 1px;
}
img:hover {
	box-shadow: 5px 5px 5px 5px #396004;
}

 a:link,a:visited {
   color: Purple;
   background-color: #C8F9F9;
   text-decoration: underline;
   target-new:window;
  }
  a:hover {
   color: Gray;
   background-color: #C8F9F9;
   text-decoration: underline;
   target-new:window;
  }